<h1 class="article-title">Implementing Life Systems</h1>
<div class="article-meta">
    <span>Draft</span>
    <span>Written 4/3/2025</span>
    <span>Edited 4/14/2025</span>
</div>

<p>
    My previous article, <a href="">Life Systems</a>, provided a list of systems,
    or aspects of health, that we should manage. After coming up with that list I began designing an
    overarching system that manages everything else. The System-System. I consider this to be like an
    exoskeleton around my life systems. Or like a second brain which keeps track of my schedule, to-do's,
    and all that so my main brain can think about more interesting stuff and be more present. Ideally,
    this system will ensure that all aspects of my health are taken care of, I am continuously improving
    in several areas, and I am moving towards my goals as efficiently as possible.
</p>
<p>
    This system is very much a work in progress. If you have ideas on how to improve this system, or
    if you would like to share your own ideas on this topic, please leave a comment below.
</p>
<p>TODO: Create board. Take a picture of it and post it here.</p>
<p>TODO: I'd love to add a comment section to each post.</p>