<h1 class="article-title">Christianity and Homophobia</h1>
<div class="article-meta">
    <span>Not Started</span>
    <span>Written N/A</span>
    <span>Edited N/A</span>
</div>

<p>
    I'm going to write about how Christianity's negative attitudes towards the LGBTQ+ community
    are misguided and unbiblical. Basically the few verses that talk about homosexuality
    aren't really talking about being gay as we know it today. Even if it was, I still think
    there would be good reason for not viewing it as a sin. It doesn't harm anybody. The
    commandment to love God and love each other overrides all other commandments. And Homophobia,
    especially in the church, is actually causing a lot of harm.
</p>
<app-article-comment-area region="christ-lgbt" />