<h1 class="article-title">Good List</h1>
<div class="article-meta">
    <span>In Progress</span>
    <span>Written 4/3/2025</span>
    <span>Edited 4/15/2025</span>
</div>
<p>
    An ongoing list of things that I can do to try and make the world a better place.
    This is for inspiration; there are several things here that I don't do, or don't do well, and that's ok.
    Some items here are significantly more or less effective than others.
</p>


<h2>Things to Do</h2>
<ul>
    <li>Career can generate lots of good (or lots of bad) (<a href="">80,000 hours</a>)</li>
    <li>Volunteering</li>
    <ul>
        <li>Homeless shelters</li>
        <li>Soup kitchens, Food banks</li>
        <li>Hotlines - TODO list some</li>
        <li><a href="">Habitat for Humanity</a></li>
        <li><a href="">Meals on Wheels</a></li>
        <li><a href="">Garden to Table</a></li>
        <li><a href="">Charity navigator</a></li>
    </ul>
    <li>Using your skills to benefit others for free or at cost</li>
    <li>Ask your neighbors if they need help with anything- meals, yard work, babysitting / pet sitting, etc.</li>
    <li>Pick up trash in your neighborhood</li>
    <li>If you drive by someone walking in a storm, possibly offer them a ride. This can be dangerous,
        and accepting rides from strangers is dangerous, so only do this if you are comfortable with it.
    </li>
</ul>

<h2>Connection</h2>
<ul>
    <li>Give someone a genuine compliment</li>
    <li>Be good to people you live with- family, roommates, etc.</li>
    <li>Listen to people. A lot of people just want to be seen, heard, and validated.</li>
    <li>Spend quality time with others</li>
    <li>Show appreciation to those you love</li>
    <li>Call someone if you know they're having a bad day or going through something difficult</li>
</ul>


<h2>Things to Give</h2>
<ul>
    <li>Donate blood and/or platelets</li>
    <li>Donate to charity</li>
    <li><a href="">Effective Altruism</a> can tell you good places to donate to</li>
    <li>Get stuff for free (dumpster diving, picking fruit on public property, etc.) and donate itz</li>
    <li>Tithing (if you like how the church spends it)</li>
    <li>Give away things you no longer use</li>
    <li>Give to food drives</li>
    <li>Tip your waiters well (fellow Americans)</li>
    <li>Pay it forward for the next person. (I don't like doing this but some do)</li>
    <li>When you see someone in need, give them what they need</li>
</ul>


<h2>Organization</h2>
<ul>
    <li>Worker's union or tenant's union</li>
    <li>Political action, protesting</li>
    <li>Educating others</li>
    <li>Work to establish and develop mutual aid networks</li>
    <li>Join a political party or movement you agree with. Attend their meetings.</li>
</ul>


<h2>Consumption</h2>
<ul>
    <li>Consider vegetarianism, veganism, or reducing meat. This significantly decreases animal suffering.</li>
    <li>Prefer buying locally instead of big companies</li>
    <li>Buy from companies that don't do child labor and sweat shops</li>
    <li>
        Reduce consumption. Pretty much all consumption has negative ethical and environmental impacts.
        You don't need to become a hermit or anything, but reduce some of the excess.
    </li>
    <li><a href="">Ethical Consumer</a></li>
    <!-- TODO Research effective ways to do this -->
    <li>Reduce your negative impact on the environment</li>
    <ul>
        <li>Use less single-use plastic</li>
        <li>Prefer biking, walking, public transport, and carpooling. Try to not fly when possible.</li>
    </ul>
</ul>


<h2>Indirect Ways</h2>
<p>Essentially sharpening the axe. Things that don't necessarily do direct good, but increase your capacity for doing good.</p>
<ul>
    <li>Improve your skills, lifestyle, situation, etc.</li>
    <li>De-stressing</li>
    <li>Expand your networks and communities</li>
</ul>

<app-article-comment-area region="life-good-list" />
