<h1 class="article-title">The Greatest Commandment</h1>
<div class="article-meta">
    <span>In Progress</span>
    <span>Written 4/15/2025</span>
    <span>Edited 4/20/2025</span>
</div>

<p>An explanation of the deep meaning I find in Jesus's greatest commandments</p>
<div class="round-panel grayscale-10 mt-h mb-h">
    <p class="mt-0">
        One of the scribes came near and heard them disputing with one another,
        and seeing that he answered them well he asked him, “Which commandment
        is the first of all?” Jesus answered, “The first is, 'Hear, O Israel:
        the Lord our God, the Lord is one; you shall love the Lord your God
        with all your heart and with all your soul and with all your mind and
        with all your strength.' The second is this, 'You shall love your neighbor
        as yourself.' There is no other commandment greater than these.”
    </p>
    <p class="mb-0"><i>Mark 12:28-31, NRSVUE</i></p>
</div>
<div class="round-panel grayscale-10 mt-h mb-h">
    <p class="mt-0">
        When the Pharisees heard that he had silenced the Sadducees, they gathered
        together, and one of them, an expert in the law, asked him a question to
        test him. “Teacher, which commandment in the law is the greatest?” He said
        to him, “ 'You shall love the Lord your God with all your heart and with
        all your soul and with all your mind.' This is the greatest and first
        commandment. And a second is like it: 'You shall love your neighbor as
        yourself.' On these two commandments hang all the Law and the Prophets.
    </p>
    <p class="mb-0"><i>Matthew 22:34-40 NRSVUE</i></p>
</div>

<div class="round-panel grayscale-10 mt-h mb-h">
    <p class="mt-0">
        An expert in the law stood up to test Jesus. “Teacher,” he said, “what
        must I do to inherit eternal life?” He said to him, “What is written
        in the law? What do you read there?” He answered, “You shall love the
        Lord your God with all your heart and with all your soul and with all your
        strength and with all your mind and your neighbor as yourself.” And he
        said to him, “You have given the right answer; do this, and you will live.”
    </p>
    <p class="mb-0"><i>Luke 10:25-28, NRSVUE</i></p>
</div>

<p>See also:</p>

<div class="round-panel grayscale-10 mt-h mb-h">
    <p class="mt-0">
        Hear, O Israel: The Lord is our God, the Lord alone.You shall lovethe Lord
        your God with all your heart and with all your soul and with all your might.
    </p>
    <p class="mb-0"><i>Deuteronomy 6:4-5 NRSVUE</i></p>
</div>

<div class="round-panel grayscale-10 mt-h mb-h">
    <p class="mt-0">
        You shall not take vengeance or bear a grudge against any of your people,
        but you shall love your neighbor as yourself: I am the Lord.
    </p>
    <p class="mb-0"><i>Leviticus 19:18 NRSVUE</i></p>
</div>

<p>
    What better section of the Christian bible is there to study? If you care about what Jesus
    has to say in the synoptic gospels, then this passage must be of primary importance.
    I like all three of these versions for different reasons, but for the sake of this article
    I will consider the Mark version. I break this down into six sections:
</p>


<h2>1. Hear, O Israel: The Lord your God is One</h2>
<p>
    This quote from Deuteronomy 6, known as the Shema, points to the oneness of God.
    Although many people interpret this as merely saying that God is the only deity,
    many people in Jewish, Christian, and Islamic history have used this verse to support
    the idea that there is nothing outside of or apart from God. It is related to
    Deut. 4:35: "there is none besides Him [God]". The Shahada, foundational to the beliefs
    of Muslims, states "There is no god but God". To me, and to many mystics, Kabbalists,
    Hasidic Jews, and Sufis throughout history, this points to the oneness and unity of
    everything in the universe, and unity with God. Further, in John 17:20-23, Jesus prays
    that we all be one, and one with the Father, just as Jesus himself is one with the Father,
    that He loves us just as he loves Jesus. "Hear, O Israel, The Lord your God is One"
    then becomes a wake-up call, inviting us into that unity. Remember, we are all one!
</p>


<h2>2. Love the Lord your God</h2>
<p>
    Here we are being told to love the ultimate, the transcendent, the divine. Jesus claims
    that we can take part in a relationship with God, a loving relationship described as heaven. 
    We can essentially take two attitudes towards God, either acceptance or rejection.
    If we accept and love God, and foster this loving relationship, then our actions will
    work in accordance with God. If we hate God, reject His creation, and become an enemy of
    the divine, then there is no saving us. If hell is separation from God, then this is a
    guaranteed path to hell. Since God is the creator and sustainer of the entire universe,
    loving God also means reconciling yourself with the universe, and loving it too.
</p>


<h2>3. With all your heart, soul, mind, and strength</h2>
<p>
    The love that we are to have for God should be all-consuming. We must love with every fiber
    of our being, and everything we have. Love should take up all of us. With our heart, we must
    be compassionate. With our soul, we must be present and righteous. With our mind, we must be
    wise and intelligent. With our strength, we must take action, especially difficult action, in
    accordance with love.
</p>


<h2>4. Love your neighbor</h2>
<p>
    Presumably also with all our heart, soul mind, and strength.
    God created everything, and everything is an expression of God. For us humans, our art is often
    imperfect. It would be justifiable to love someone and not love their creation because our
    creations aren't a reflection of our nature. Unlike humans, though, God does not make mistakes,
    and God's nature is present in creation. So it is impossible to love God and not love creation.
    Humans in particular, according to Genesis, have God's very breath in us and were made in God's
    image. The majority of what Jesus talks about in the synoptic gospels is how to treat other
    people well. We are told to do unto others what we would have done to us, to take care of the
    orphans, widows, and immigrants, to feed the hungry, heal the sick, clothe the poor. Jesus always
    talks about loving our neighbor not just as a fuzzy feeling in our chest, but as action.
    In fact, in Luke, right after giving the greatest commandments, he is asked what it means to
    love our neighbor. He responds with the parable of the good samaritan. Loving each other means
    having compassion, taking care of each other, making sure we are well.
</p>


<h2>5. As yourself</h2>
<p>
    Don't forget, we are also a creation of God! Loving humans also means loving yourself.
    Of course, this is not permission to be selfish and prioritize your own gain at the expense of others.
    Neither is it a permission for excessive, decadent "self-care", which only serves our vanity and ego
    while distracting us from what is really important. If loving yourself gets in the way of loving your
    neighbor, or vice versa, then this is a problem. Like loving others, our love for ourself should be 
    an active love that seeks to improve our lives and wellbeing. You should be a friend to yourself.
    Just like with others, you should give yourself compassion and forgiveness.
</p>


<h2>6. There is no other commandment greater than these</h2>
<p>
    Or, as Matthew says, "On these two commandments hang all the laws and the prophets".
    I believe this gives us permission to interpret other verses of the bible in light of
    these greatest commandments. If anything else in the bible contradicts the commands
    to love God and love your neighbor, then this takes greater precedence. There is no
    greater commandment, and the entire old testament (the laws and prophets) rely on this.
    If you fulfil the commandment to love, then you are also fulfilling the entire law.
</p>

<app-article-comment-area region="christ-great-commandment" />