<h1 class="article-title">Goals</h1>
<div class="article-meta">
    <span>Draft</span>
    <span>Written 4/24/2025</span>
    <span>Edited 4/24/2025</span>
</div>

<p>
    I think it is healthy to have an overarching goal to one's life.
    What is the ultimate goal you're pursuing?
</p>
<p>
    There are a few goals I believe are ultimately unfulfilling in themselves.
    They may be used as instrumental goals, but not as main goals.
</p>
<ul>
    <li>Wealth accumulation</li>
    <li>Power or influence</li>
    <li>Hedonism</li>
</ul>
<p>
    There are several goals I think are valuable as overarching goals:
</p>
<ul>
    <li>Furthering knowledge and science</li>
    <li>Eudaimonia</li>
    <li>Artistic expression</li>
    <li>Flourishing social connections</li>
    <li>Improving the lives of others</li>
    <li>Spiritual attainment</li>
</ul>

<app-article-comment-area region="life-goals" />