<h1 class="article-title">Research Logs</h1>

<p>
    This is basically my <a href="https://maggieappleton.com/garden-history">digital garden</a>
    of my ideas and whatnot. This garden is still relatively new in 2025. I've been mostly
    thinking about how I can organize my life better, and about Christianity and religious
    ideas.
</p>

<div class="flex-row gap-1 wrap align-start">
    <div class="round-panel">
        <h3 class="mt-0 mb-h">Life</h3>
        <hr class="mt-0 mb-0">
        <ul>
            <li><flink [href]="routes.Beliefs">My core beliefs</flink></li>
            <li><flink [href]="routes.LifeSystems">Life systems</flink></li>
            <li><flink [href]="routes.MySystem">Implementing life systems</flink></li>
            <li><flink [href]="routes.GoodList">Good list</flink></li>
        </ul>
        
    </div>
    
    <div class="round-panel">
        <h3 class="mt-0 mb-h">Christianty</h3>
        <hr class="mt-0 mb-0">
        <ul>
            <li><flink [href]="routes.ChristCommandment">The greatest commandment</flink></li>
            <li><flink [href]="routes.ChristPrayer">The Lord's prayer</flink></li>
            <!-- <li><flink [href]="routes.ChristUnity">Christianity and Universal Oneness</flink></li> -->
            <!-- <li><flink [href]="routes.ChristLgbt">Christianity and LGBTQ+</flink></li> -->
            <!-- <li><flink [href]="routes.ChristKingdom">Kingdom of God</flink></li> -->
        </ul>
    </div>
</div>