<h1 class="article-title">The Lord's Prayer</h1>
<div class="article-meta">
    <span>Draft</span>
    <span>Written 4/23/2025</span>
    <span>Edited 4/23/2025</span>
</div>

<div class="round-panel grayscale-10 mt-h mb-h">
    <p class="mt-0">
        Pray, then, in this way:
        Our Father in heaven,
        may your name be revered as holy.
        May your kingdom come.
        May your will be done on earth as it is in heaven.
        Give us today our daily bread.
        And forgive us our debts, as we also have forgiven our debtors.
        And do not bring us to the time of trial,
        but rescue us from the evil one.
    </p>
    <p class="mb-0"><i>Matthew 6:9-13, NRSVUE</i></p>
</div>

<p>
    I use this passage as a template for contemplative prayer.
    When I pray this way, I break it into 7 sections:
</p>

<h2>Our Father in heaven</h2>
<p>
    I think about the oneness of God and
    <flink [href]="routes.ChristUnity">the unity of God and all things</flink>.
</p>

<h2>May your name be revered as holy</h2>
<p>
    (Or, "Hallowed be thy name"). I think about my reverence for God and rest in a place of
    divine love for a bit. I see God and all of God's creation as holy. I try to see God
    in everybody (as in Matthew 25), and see them as holy, too.
</p>

<h2>May your kingdom come. May your will be done on earth as it is in heaven</h2>
<p>
    See my article on <flink [href]="routes.ChristKingdom">the Kingdom of Heaven</flink>.
    It is an affirmation that I am committed to making the earth more like divine paradise.
    It is a reminder for righteousness. I ask "What do I need to do today to help bring
    about God's kingdom on earth?", and "What do I need to be moving towards in the long-term?".
    And it is hope, that one way or another, the world will change to become heavenly.
</p>

<h2>Give us today our daily bread</h2>
<p>
    Here I think about any immediate needs for myself or others, and pray that
    these needs are fulfilled.
</p>

<h2>Forgive us our debts</h2>
<p>
    I think about anything I did wrong, anything I am guilty of. Just asking "what am I guilty of"
    will bring several instances in mind. I ask for forgiveness, repent, and think about how
    to avoid this in the future. This step is aimed at making me a better person over time.
</p>

<h2>As we also have forgiven our debtors</h2>
<p>
    Think about any grudges I hold against others or anyone I need to forgive, and forgive them.
</p>

<h2>Do not bring us to the time of trial, but rescue us from the evil one</h2>
<p>
    (or, "Lead us not into temptation"). Think about any sins or temptations that I am
    facing, either temptations that recur daily, or temptations I predict I will face
    at some point today. Commitment to doing what is right in those moments.
</p>

<h2>Gratitude</h2>
<p>
    This isn't part of the Lord's prayer, I'm just describing how I pray now.
    After I finish with those 7 points I then take some time to pray about what I am grateful for.
</p>