<div class="flex-row gap-h wrap mb-h">
    <mat-form-field style="flex: 1 0 200px">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" required maxlength="100" #usernameModel="ngModel">
        @if (usernameModel.errors?.['required']) {
            <mat-error>Required</mat-error>
        }
    </mat-form-field>

    <mat-form-field style="flex: 1 0 200px">
        <mat-label>Website (optional)</mat-label>
        <input matInput [(ngModel)]="website" maxlength="100">
    </mat-form-field>
</div>

<mat-form-field style="width: 100%" class="mb-h">
    <mat-label>Message</mat-label>
    <textarea matInput [(ngModel)]="message" required maxlength="1000" #messageModel="ngModel"></textarea>
    @if (messageModel.errors?.['required']) {
        <mat-error>Required</mat-error>
    }
</mat-form-field>
<button mat-raised-button color="primary" type="button" (click)="btnAddMessage()">Post</button>

<hr />
<div class="flex-row gap-1 wrap align-center">
    <span><i>Status: {{messageStatus()}}</i></span>
    @if (messageStatus() === 'success') {
        <span><i>Messages: {{allMessages().length}}</i></span>
    }
</div>
@for (message of allMessages(); track i; let i = $index) {
<p>[{{message.username}}] [{{message.website}}] [{{message.createdtime | date:'short'}}] {{message.message}}</p>
}