.article-seed {
    background-color: rgb(85, 53, 26);
}
.article-draft {
    background-color: rgb(72, 75, 24);
}
.article-ip {
    background-color: rgb(26, 68, 86);
}
.article-finished {
    background-color: rgb(24, 79, 30);
}

.article-hidden {
    background-color: rgb(103, 42, 42);
}