<h1 class="article-title">On Selflessness</h1>
<div class="article-meta">
    <span>Seed</span>
    <span>Written 4/29/2025</span>
    <span>Edited N/A</span>
</div>

<p>
    I used to think that there is no such thing as a truly selfless act. All of our actions are
    based on our own desires, on some level. Even actions which appear to be selfless are motivated
    by desires such as improving a friendship, feeling like I am a good person, feeling like
    I am aligned with my own moral values, potential future reciprocity, social status, or other
    factors which directly benefit me. If I voluntarily perform an action, doesn't that entail me
    first wanting to do that action for some reason?
</p>
<p>
    I no longer think this is a useful way to think about selfishness. I think a better framing of the
    problem is whether or not the main motivating factor for doing an action is based on my own benefit.
    For clarity, I will use the terms "self-centered" and "non-self-centered" actions. The motives listed
    above (improving friendships, feeling like a good person, feeling aligned with moral values,
    potential future reciprocity, and social status) are all ultimately rooted in one's own wellbeing.
    I will call these "self-centered motives".
</p>
<p>
    I don't want to imply that doing an action for a self-centered reason is morally wrong or anything 
    like that. I believe that morality comes from the action itself and not the motive. If a self-centered
    motive produces action that benefits yourself or others, and it does not harm anyone, then that's great.
    Many great actions were taken for self-centered reasons. There are, of course, much more nefarious
    self-centered motives, which produce harmful actions. I obviously don't condone hurting someone else
    for selfish greed or desire for sense gratification. It is good to encourage your own motivations that
    cause beneficial results and discourage motivations that cause harmful results.
</p>
<p>
    So self-centered motives aren't necessarily bad, and we should strive for whatever motives cause better
    behaviour. This does not answer the original question though- can someone perform an action based on
    non-self-centered motives?
</p>
<p>
    There are trivial examples and more interesting exampes of such motives. A trivial example might be if you
    write 100 random possible actions, then generate a random number, and do whatever action it lands on.
    Why did you do this action? Because the dice landed on it. The motive is centered on something other than
    your own interests. This may not work, because you could ask "Why did you set up this dice experiment?".
    You did this because you wanted to prove something about motives and behaviour- it's all about your knowledge
    and proving a point- a self-centered motive. Another trivial example is unconscious or accidental actions.
    Why did you twitch your muscle? Why did you trip over that rock? Because that nerve happened to fire, or
    that rock happened to be there. I feel that the original question was really about intentional, voluntary
    actions, so this answer is also uninteresting.
</p>
<p>
    A more interesting, non-trivial example is compassion. If someone were to risk their own comfort or safety
    to help someone else, this can be done for non-selfish reasons. If you save a child from drowning and
    someone were to ask you "Why did you do that?", a genuine answer might be "Because they were in danger
    and needed help". Of course, there may have also been self-centered motives, such as feeling like a good
    person or social recognition, but these reasons were probably far from the front of your mind. This
    becomes even more salient if you're saving a loved one from drowning.
</p>
<p>
    You can test this example in a thought experiment. Imagine someone is in extreme pain. Perhaps they're being
    electrocuted and can't stop themselves. Without intervention they will suffer for multiple hours before dying.
    You have the ability to turn it off, but it would also shock you, causing you pain and a long-term injury,
    but you would both survive. Since this is a thought experiment, we can isolate it further- the person is
    a complete stranger, neither of you will remember anything from this, there is no social benefit or feeling
    like a moral person or anything like that. Even with every other motive removed, do you stop the electricity?
    I feel that most people would say yes. There seems to be absolutely no self-centered motive to do so,
    yet you still do. Why? Because the other person is suffering and in danger. A non-self-centered, prosocial
    action.
</p>
<p>
    I feel that, in general, if someone is in a self-centered mindset, they will have more self-centered
    motives, and if someone is in a more selfless mindset, they will have more selfless motives.
    As described on my <flink [href]="routes.Beliefs">Core Beliefs</flink> page, my most central belief
    is that all separation is illusory, meaning there is no true separation between different people, and
    we are all essentially one. This can be intellectually known or experienced as a state of consciousness.
    Intellectually thinking this way will bend your lines of reasoning towards more selfless action.
    Directly experiencing this state of consciousness will influence your emotions and core motives.
    Whether we have the words for it or not, I think we all experience this unitive consciousness at times,
    especially when we see others suffering and have compassion for them, and it motivates compassionate action.
    This is personally something I'd like to explore more, as I spend most of my time in more self-interested
    mindsets.
</p>
<p>
    Ultimately, all intentional action is caused by a chain of motives and reasoning. We can't escape the
    fact that, at some point, our motive is "because I want to". Why did you help that person? Because they
    were suffering, and I am the type of person that wants to alleviate suffering. All motives must come back
    to ourselves, or we wouldn't actually be involved in the action. But there is variability in the primacy
    of self-interest; sometimes the main deciding factor is self-interest, sometimes it is other-interest.
    Considering all of this, I am comfortable saying that selfless action does actually exist and can be
    realized in our day-to-day lives.
</p>
<p>
    If you have anything to add to the conversation, please leave a comment below!
</p>

<app-article-comment-area region="selflessness" />