<h1 class="article-title">My Favorite Albums</h1>
<div class="article-meta">
    <span>Stable</span>
    <span>Written 3/23/2025</span>
    <span>Edited 3/23/2025</span>
</div>

<h2>1. Leftoverture - Kansas (1976)</h2>
<div class="album-container">
    <img src="albums/Leftoverture.jpg" alt="Leftoverture album cover">
    <p>
        In my opinion, Kansas is one of the greatest classic rock bands ever, and Leftoverture is their best album.
        It opens with their most famous song, Carry On Wayward Son. The rest of the songs here aren't as famous,
        but are equally great rock songs with great lyrics and instrumental sections. Some other great Kansas albums
        are Point of Know Return, Song for America, and Masque.
    </p>
</div>

<h2>2. Renaissance - Beyoncé (2022)</h2>
<div class="album-container">
    <img src="albums/Renaissance.png" alt="Renaissance album cover">
    <p>
        If you don't like cuss words or sexual themes, this album is not for you.
        This album is very unique and makes creative decisions that make it sound unlike any other album.
        It radiates confidence, sexuality, and love. It's groovy, with a strong beat, very catchy songs, and great transitions.
        If this doesn't make you want to dance, I don't know what will.
    </p>
</div>

<h2>3. Super Mario Galaxy Soundtrack</h2>
<div class="album-container">
    <img src="albums/Super Mario Galaxy.jpg" alt="Super Mario Galaxy album cover">
    <p>
        One of the greatest video game soundtracks of all time. Even if you don't care about videogames, you will still appreciate
        the beautiful, grand orchestral tracks. It is particularly valuable to me because I grew up playing this game when I was about
        7 years old. Whether you're a Nintendo fan or just love classical orchestral music, you will love this album.
    </p>
</div>

<h2>4. Kirtan Wallah - Krishna Das (2014)</h2>
<div class="album-container">
    <img src="albums/kirtan-wallah.jpg" alt="Kirtan Wallah album cover">
    <p>
        Kirtan is Hindu devotional chanting, and Wallah is someone who performs an action, so Kirtan Wallah basically means "someone who sings kirtan".
        I enjoy kirtan music a lot, and this is my favorite album in the genre I've found. The instruments and singing is beautiful,
        and it gets even more beautiful as you learn the meaning and symbolism behind each of the chants. Radhe Govinda, for instance,
        refers to Krishna, the embodiment of the godhead (also called Govinda), and Radha, who is Krishna's love and an embodiment of that love,
        so when I sing "Radhe Govinda", I'm singing "My love of God, God's love for us".
    </p>
</div>

<!-- TODO Add In Loving Memory. Here? -->

<h2>5. Mother Earth's Plantasia - Mort Garson (1976)</h2>
<div class="album-container">
    <img src="albums/mother-earth-plantasia.webp" alt="Mother Earth's Plantasia album cover">
    <p>
        This is a fun, synthy, electronic album. According to Wikipedia, Mort Garson origninally wrote this for his house plants and handed out to customers
        of a plant store called Mother Earth, or who bought a Simmons mattress from Sears (no clue what the link to mattresses is). If you want to chill
        with some fun music looping in the background, try this album.
    </p>
</div>

<h2>6. American Pie - Don McLean (1971)</h2>
<div class="album-container">
    <img src="albums/american-pie.jpg" alt="American Pie album cover">
    <p>
        Great folk rock album. It opens with the hit song of the same name, then takes the listener on a narriative journey full of sorrow,
        humor, haunting imagery and raw emotion. All of the songs are great.
    </p>
</div>

<h2>7. Scenery - Ryo Fukui (1976)</h2>
<div class="album-container">
    <img src="albums/scenery.jpg" alt="Scenery album cover">
    <p>
        A beautiful jazz album with primarily piano (Fukui is a pianist but has bass and drums too). He has a unique piano style that
        I enjoy. It's playful, comforting, cozy, and sophisticated. Pretty much all of his music is very similar, his other albums are
        more of the same great stuff.
    </p>
</div>

<h2>8. V - Unkonwn Mortal Orchestra (2023)</h2>
<div class="album-container">
    <img src="albums/v.jpg" alt="V album cover">
    <p>
        This is their fifth album (hence the roman numeral V) and their latest at the time of writing. It is peaceful, cozy, fuzzy, and groovy.
        I enjoy the mix between songs with words and instrumental segments.
    </p>
</div>

<h2>9. Pebble Brain - Lovejoy</h2>
<div class="album-container">
    <img src="albums/pebble-brain.jpeg" alt="Pebble Brain album cover">
    <p>
        This is a fun, energetic pop/rock EP, the sort of music I'd want to rock out to on a road trip or Karaoke night.
    </p>
</div>

<h2>10. Nothing Lasts... But Nothing Is Lost - Shpongle (2005)</h2>
<div class="album-container">
    <img src="albums/nothing-lasts.jpg" alt="Shpongle album cover">
    <p>
        Shpongle makes some incredible mind-bending psychedelic dance / trance music. I enjoy this one in particular because it has seemless transitions,
        making the whole album sound like one cohesive song. It has samples of Terence McKenna (to whom the album is dedicated) and my favorite movie Waking Life.
        Apparently it also follows 8 phases of a dream sequence. All of Shpongle's music can turn your brain into a pretzel (especially with some botanical help).
        If you're into psychedelic culture and haven't listened to Shpongle, do yourself a favor and put this on.
    </p>
</div>

<h2>Honorable Mentions</h2>
<p>Albums that didn't make it into the top 10 but I enjoy (in no particular order):</p>
<ul>
    <li>Vicious Delicious - Infected Mushroom</li>
    <li>So - Peter Gabriel</li>
    <li>Raíces - Águila Real</li>
    <li>The Mantle - Agalloch</li>
    <li>The 5th Dimension - Lemongrass</li>
    <li>Imaginal Disk - Magdalena Bay</li>
    <li>Currents - Tame Impala</li>
    <li>Just Another Diamond Day - Vashti Bunyan</li>
    <li>Red Queen to Griffon Three - Griffon</li>
</ul>