<h1 class="article-title">Blueprints</h1>

<p>
    I'm a professional web developer. If you are looking to make your own website and <i>don't</i>
    spend 8 hours a day working with these technologies, there are definitely simpler ways to do it.
</p>

<h2>Tech Stack</h2>
<p>My goal was to use tech I already know how to use and keep it as simple and cheap as possible.</p>
<ul>
    <li>
        Frontend - Angular. Angular Material is used, but pretty much only on the Comment component.
        This will likely be removed in the future because I don't like relying on Material.
    </li>
    <li>
        Hosting - Netlify. It's free, easy, and is automated with Git pushes.
    </li>
    <li>
        Backend - Netlify Functions. I didn't know Netlify had this until I started on the comment component.
        It's also pretty easy to use, and since I'm already using Netlify, is one less tech I have to worry about.
    </li>
    <li>
        Database - CockroachDB. Never used it before, but it seems cheap and has everything I need for my
        extremely minimal DB needs.
    </li>
    <li>Version control - GitHub.</li>
</ul>

<h2>Source</h2>
<p>
    You can see the source code here: <a href="https://github.com/Fylo4/SpaceStation">GitHub Source Code</a>.
    If you copy large parts of my code (e.g. entire components) I would appreciate attribution with a link to this website.
</p>

<h2>Site To-Do's</h2>
<ul>
    <li>Add a better readme.md</li>
    <li>Site favicon</li>
    <li>Navbar - Have something other than just the home link?</li>
    <li>Look into bi-directionally linking pages</li>
    <li>Article tagging system</li>
    <li>RSS feed</li>
    <li>Comment component - Improve comment styling</li>
    <li>Comment component - Add snackbar service to better display error / success messages</li>
    <li>Comment component - Refresh button, last loaded time</li>
    <li>Comment component - Remove Material-specific styling</li>
    <li>Add payment to database service so my comments don't get shut down in a month</li>
</ul>