<h1 class="article-title">Christianity and Unity</h1>
<div class="article-meta">
    <span>Not Started</span>
    <span>Written N/A</span>
    <span>Edited N/A</span>
</div>

<p>
    It is one of my foundational beliefs that we are all one, that everything is one,
    and that we are all one with God. In other words separation is an illusion. Although
    I don't believe this as a result of reading the bible, I do think there is a surprising
    amount of biblical justification for such a view.
</p>