<h1 class="article-title">Life Systems</h1>
<div class="article-meta">
    <span>In Progress</span>
    <span>Written 4/9/2025</span>
    <span>Edited 4/15/2025</span>
</div>

<!-- #region Intro -->
<p>
    One possible way to think about human beings is as a collection of several interconnected systems.
    The goal is to optimize the health and wellbeing of the entire organism, and mobilize the system's
    resources to accomplish whatever goals we find most important. Each of these systems can be
    broken down into subsystems and so on depending on what level of detail is most useful. Reaching
    our goals require both improving each system, and improving how the system aligns with our overall
    goals. 
</p>
<p>
    I use the term "system" here because each of these areas of life have inputs, outputs, resource flows,
    and processes. It is similar to a car, which is a complex system with several subsystems- powertrain,
    steering, suspension, etc. Each subsystem has several parts to it, which themselves are smaller systems.
    When one part isn't serving the goals of the entire car (or driver), it is repaired or replaced.
    For each area in life, you are also a single node in a much larger community, national, or global
    system; for instance, your personal finance system is a single node in the global economic system,
    and your social network is one part of your community's social network. This is further reason to
    improve aspects of your life. Not only will it help you reach your goals and improve your personal
    health, it will also help other people who are connected to the same networks as you.
</p>
<p>
    Another useful framing of this is "areas of health" instead of "system". This article is talking about your
    physical, mental, spiritual, social, financial, etc. health. You can imagine you're in a video game,
    and your character has several health bars, each of which need to be managed. I will continue to
    conceptualize this as interlocking systems though.
</p>
<p>
    This was loosely inspired by the Wheel of Life exercise. That exercise asks you to look at 8 particular
    areas in your life and rate them from 1-10, then describe what your life would look like if you
    were at a 10 in each of them. Or something like that, I've never actually done the exercise. Something
    similar could definitely be done here- look at each category and rate your health, and envision what
    lifestyle you would have at a 10.
</p>
<p>
    I believe reaching a 10 in each area would be implausible; it would take way more than 24 hours
    each day and way more resources than most people have. But I personally don't think I need all
    areas to be maxed out. I think several of them can be around 7-8, healthy enough they don't cause
    problems, but not consume too many resources. Perhaps you should aim for one or two of them to be 
    10's. Then the operative question is, what score do I want in each area, what would that level look
    like, and what resources and actions would be necessary for this?
</p>
<p>
    There are several principles I am looking for in each system:
</p>
<ul>
    <li>
        <b>Intentionality</b> - If you don't intentionally plan stuff out and think about stuff, then you will
        do stuff based on whims and dopamine circuits. This is prime real estate for corporations, advertisers,
        political entities, etc. to take advantage of you, and manipulate your actions to benefit themselves.
        If you think through everything systematically, then you will be better able to transform your life into
        and achieve what you want.
    </li>
    <li>
        <b>Cognitive Offloading</b> - You don't want to spend a lot of effort making decisions each day. We have
        finite cognitive resources; using those resources on mundane tasks that can be offloaded results in more
        stress and worse decisions. As you automate decisions and organize systems in helpful ways, you will automatically
        know what needs to be done. Offloading can also reduce feelings of stress or guilt. Mechanisms for offloading
        include reminders, lists, and better organization systems.
    </li>
    <li>
        <b>Compound growth</b> - If you can make something improve at an exponential rate, do it.
        The most well-known example is finances, where the amount of returns you get from investments
        is proportional to the amount you have invested. Friendships, communities, learning, and many
        other areas can follow similar patterns, where the longer you let it grow, the larger and faster
        it can grow. Having long time horizons (being able to wait a long time for success) really helps here.
    </li>
    <li>
        <b>Diversity</b> - The health of a system is often tied to its diversity. For instance, biodiversity
        is a very strong indicator for the health of an environment. This can be a type of compounding.
        Gaining a diversity of skills that build on each other is better than mastering a single skill.
        Gaining diverse friends or consuming diverse ideas greatly improves your social and intellectual lives.
    </li>
    <li>
        <b>Automation</b> - Many of these systems can be automated, or only require one-time improvements.
        This is ideal so we don't have to continually invest resources (time, energy) into an area, but can
        still collect the benefits. For instance, in your financial system, you can create automatic deposits,
        card payments, and investments, so you don't even have to think about anything when you get paid.
    </li>
    <li>
        <b>Stacking</b> - Doing something that accomplishes two things at once make you twice as productive.
        Running with my dog gives me exercise and is treating my dog well. Sports with friends hits social and
        physical health. This is not to be confused with multitasking, which usually results in doing 2 things
        very poorly, and often involves a lot of context switching.
    </li>
</ul>
<p>
    Enough yapping, let's see the list already!
</p>
<!-- #endregion -->

<hr />

<!-- #region Purpose, Meaning, Goals -->
<h2>Purpose / Meaning / Goals</h2>
<p>
    This isn't really a system, but I put it here first because it should be your north star or guiding principle.
    Finding purpose or meaning in your life, coming up with an overarching life goal and intermediate
    goals to reach it, can help you determine how you want to manage all other systems.
</p>
<p>
    What is your guiding principle? If you could do anything, be anyone, what would you want to do and
    who would you want to be? There are many valid answers to this question. Some examples of good guiding
    goals include personal happiness and wellbeing, wellbeing for your family, artistic self-expression,
    science and knowlede, or spiritual / religious attainment. Beneath the overarching principle could be
    a large goal for how you want to achieve it. This can help you create a mission statement.
</p>
<p>
    My personal mission statement is, "To improve the lives of people around me, especially the most
    marginalized or in-need, through compassion, giving, and community-level mutual aid systems".
</p>
<p>
    Having a mission statment like that can allow you to more deeply analyze what is most important and how
    to get there. After contemplating about how I can improve the lives of others, I came up with this list:
    Ways of Doing Good. The health of this purpose / meaning / goals system is directly proportional to how
    well I am following that list. Regularly examining how your life aligns with your mission will ensure
    you're making the most of your time and effort.
</p>
<!-- #endregion -->

<hr />

<!-- #region Time -->
<h2>Time system</h2>
<p>
    An organism's time system is probably their most important system to manage well. How you spend your time
    dictates what areas of your life improve or worsen. By default, we do not deliberately think about this,
    and how we manage our time is based on whims and outside influences.
</p>
<p>
    It is probably too extreme to overhaul your entire life and the way you spend your time in one go.
    This could result in burnout or giving up. It may be better to gradually introduce a couple rules at
    a time. At first, this may be regulating when you sleep and work, then progressively regulate more tasks
    or blocks of time. A mature time management system would automate time-related decisions, so if you just
    follow the system you are guaranteed to get your stuff done and improve in several key areas of life,
    spending your time in a way that aligns with your core values.
</p>
<p>
    If you're building your time system, it may be a good idea to schedule a weekly or monthly evaluation of the entire
    system, so not only are individual areas of your life improving, the system by which you manage these areas is
    also improving.
</p>
<p>
    Some tools I use to help manage time:
</p>
<ul>
    <li>
        Calendar - I used to use this to block off repeated tasks so I can see what I'm doing when on each day.
        I found this to be too strict, so I switched to using event lists.
    </li>
    <li>Task list for repeated events, which allows me to easily see what I'm supposed to do today</li>
    <li>
        Event list to keep track of one-time events. This and the task list can be viewed together on one
        calendar for planning, though I don't often use this
    </li>
    <li>To-do lists, organized in an Eizenhower matrix. One of my repeated events is working on to-do tasks to make sure it doesn't build up</li>
    <li>Habit tracker</li>
</ul>
<p>You can see my full management system on this page: Implementing Life Systems.</p>
<!-- #endregion -->

<hr />

<!-- #region Social -->
<h2>Social systems</h2>
<p>
    This isn't a single system, it's a category of systems. Your family, relationships with individual friends,
    friend groups, communities, and romantic relationships are all their own systems. The health of your family
    might be much different than the health of your church or club community, for instance.
</p>
<p>
    In general, I believe that having good social connections is one of the most important factors for your
    overall wellbeing. I think of it as four areas- family, friends, communities, and romance / partnership.
    I personally have no interest in the romance / partnership aspect but the other three are very important
    to me. There are many options for community connections - neighborhood, work, school, church, hobbies,
    sports, clubs, even being a regular at a restaurant or bar.
</p>
<p>
    Keeping track of each person or group, the health of that relationship, and the last time you did something
    with them can help visualize and proritize. Figuring out a target level of interaction with that person or
    group would also be useful - e.g. I want to call each of these friends once a month, hang out with this group
    every other week, and spend quality time with my parents / siblings once a week. Having that conversation with
    the people involved could also be a powerful way to make sure everyone's on the same page about how you want
    to spend time together, and how much. (Deciding how you want to relate with other people is a key concept in
    relationship anarchy- I recommend you check it out if you haven't heard of it before)
</p>
<!-- #endregion -->

<hr />

<!-- #region Physical health -->
<h2>Physical health</h2>
<p>
    The body is essentially a mechanical system. It has input requirements (e.g. food, water), maintenance requirements
    (e.g. health checkups, repairs), and usage requirements (e.g. movement / exercise, sleep). It is also the
    vehicle by which you are able to operate in your life. If you have physical health problems, it will reduce your
    resources and cause strain to all other areas of health. This quote is attributed to Abraham Lincoln: "Give me 6 hours
    to chop down a tree and I would spend the first 4 hours sharpening my axe". Improving your body is one way to sharpen
    the axe and improve your ability in all other areas.
</p>
<p>
    Everyone has their own list of "the X pillars of physical health". As far as I'm concerned, there are really four
    that will have the largest results: diet, exercise, sleep, and risk prevention.
</p>
<p>
    <b>Diet</b> - Plan weight, calory, and macronutrient goals. Meal planning / prepping / tracking takes more effort but
    can take your dietary  system to a higher level. There are other levers you can pull like intermittent fasting or dietary
    restrictions.
</p>
<p>
    <b>Exercise</b> - Plan how much of each type of exercise you want (e.g. X minutes of cardio, Y minutes of 
    strength each week), which parts of the body you want to strengthen, potentially come up with detailed exercise
    plans. Some small lifestyle changes can improve exercise, like walking while taking calls, biking to the grocery
    store instead of driving, or walking your dog every day. 
</p>
<p>
    <b>Sleep</b> - Improve the sleep environment (temperature, light, noise, comfort), what you do before bed (limits to
    caffeine or technology, nighttime routine), and get into a regular sleep routine with little to no variation in sleep 
    or wakeup times.
</p>
<p>
    <b>Risk prevention</b> - See below "Safety / Emergencies" section
</p>
<p>
    Obviously there are other areas of physical health I haven't mentioned, and any of these areas could have entire books
    written about them. I'm not an expert so you probably want to do a lot of further research.
</p>
<!-- #endregion -->

<hr />

<!-- #region Mental health -->
<h2>Mental / Emotional health</h2>
<p>
    I honestly haven't done too much research into this, so I don't have a very comprehensive framework for thinking about it.
    Obviously your health in any other area will affect this. Exercising improves mood, having bad finances increases stress, etc.
    Apart improving these other systems, there are several things that I find helpful: spending time in nature; destressing and destimulating;
    processing emotions through journaling, self-expression, and therapy.
</p>
<p>
    One interesting idea relating to this is that a human isn't a single distinct and unchanging self, but are rather composed of several
    distinct selves, with their own goals, behaviors, and preferences. The book "Your Symphony of Selves" by James Fadiman and Jordan Gruber
    argues that everybody is a multiplicity of selves. The internal family systems therapy model has similar claims. One imporant feature
    of mental health, then, is recognizing what each part of you wants and harmonizing with yourself. This can address self-sabotoge or
    self-hatred and make sure that 100% of you is happy with your life.
</p>
<p>
    I feel like a lot of discussion about mental health in the current culture is centered on therapy, emotional regulation,
    trauma, stuff like that. Not as many people are talking about learning, puzzles, reading and other intake of information,
    that sort of stuff. Just like the body, the mind needs exercise to stay sharp. I have heard books described as "mental
    calisthenics" and "reading is conversing with ancient geniuses". Learning new skills also seems great for mental health
    and personal development. I've also heard that spending time with your own thoughts, whether through journaling or walking
    in solitude or any other way, is good mental exercise. As I research more into the mental health system, I'll try to build
    something that takes care of both the "therapy"-ish stuff and the "crosswords"-ish stuff.
</p>
<!-- #endregion -->

<hr />

<!-- #region Spirituality -->
<h2>Spirituality / Religion</h2>
<p>
    This is one component that I don't think everyone has to have. It is similar to romantic relationships in that way.
    Religious groups often provide community, practices for personal growth, wisdom texts, community service opportunities,
    and many other benefits. But connecting with the divine, whatever you believe that to be, seems to have benefits that go
    beyond the effects of organized religion. This can include feelings such as peace, awe, gratitude, or love, feeling that
    one is connected with the whole universe, a sense of deep purpose in your life. If you decide spirituality and religion
    belong in your life, it is worth planning out what events and practices this entails, and what you plan to get out of it.
</p>
<!-- #endregion -->

<hr />

<!-- #region Finances -->
<h2>Finances</h2>
<ul>
    <li>Pay off any high interest debt</li>
    <li>Reduce expenses where possible; cook instead of eating out, do cheaper hobbies, analyze your subscriptions</li>
    <li>Have and follow a budget</li>
    <li>Have a long-term financial plan, e.g. when certain debts will be paid off, at what rate you'll save for a house, etc.</li>
    <li>Have a retirement plan</li>
    <li>Invest what you can. Long-term compond interest exponentially multiplies your money</li>
    <li>Increase income with a side hustle, working towards raise / promotion, or by changing jobs</li>
    <li>Regularly review your purchases and overall financial picture to ensure you're still on-track</li>
</ul>
<!-- #endregion -->

<hr />

<!-- #region Posessions / House / Environment -->
<h2>Posessions, Home, Chores, Environment</h2>
<p>
    This is a pretty broad category that encapsulates the physical space your life occupies and all of the stuff you own.
</p>
<p>Common chores to be done frequently (daily or weekly basis):</p>
<ul>
    <li>Putting away stuff</li>
    <li>Sweeping and mopping floors (and below couches, furniture, etc.)</li>
    <li>Laundry</li>
    <li>Washing dishes</li>
    <li>Cleaning surfaces (and underneath appliances and other objects)</li>
    <li>Checking your mail</li>
    <li>Taking out trash and recycling</li>
    <li>Cleaning stove, oven, and other appliances</li>
</ul>
<p>Common maintenance tasks to be done less frequently (weekly or monthly basis):</p>
<ul>
    <li>Use dishwasher cleaner on the dishwasher</li>
    <li>Clean out dishwasher filter</li>
    <li>Replace air filter</li>
    <li>Yard work - Mowing, weeding, trimming, raking</li>
    <li>Car - Getting gas, oil changes, cleaning, tire rotations, other maintenance and repair tasks</li>
    <li>Maintenance for any other belongings you have</li>
    
</ul>
<p>Ways to improve your physical environment</p>
<ul>
    <li>
        Make it prettier. Make your environment encourage a headspace you like. 
        This could involve getting art, painting the walls, chainging decor / furniture, landscaping, etc.
    </li>
    <li>Grow a garden</li>
    <li>Get water filters instead of drinking tap or bottled water</li>
    <li>Get air filters in addition to your A/C if you have bad air quality</li>
    <li>Organize your stuff so you can always find what you need, and stuff you don't is hidden away (or get rid of it)</li>
    <li>
        Reduce friction for things you want to do (e.g. put your workout equipment in an easy to reach place) and
        increase friction for things you don't want to do (e.g. put alcohol in a hard-to-reach and hard-to-see place,
        don't let junk food into your house)
    </li>
    <li>
        Organize for improving workflow. E.g. make getting dressed, starting the coffee maker, washing your face,
        and brushing your teeth all in a convenient linear way. Another example is putting your alarm clock on the
        opposite side of the room next to your light switch to help ensure you get up.
    </li>
    <li>Create space for deep work. If you have an office or separate room for work, make that a sanctuary from distraction.</li>
    <li>
        Are things organized in a way that causes more problems? For instance, my bed used to be next to my window, 
        which would open to allow my dog in and out of the house. This made my bed constantly dirty so I moved it.
    </li>
</ul>
<!-- #endregion -->

<hr />

<!-- #region Digital security -->
<h2>Security / Privacy</h2>
<p>
    Most people these days have a digital life that's almost as significant as their physical life. Our entire digital
    footprint is a node in a larger network- a network shared with corporations, advertisers, law enforcement,
    the government, hackers, scammers, etc. I personally don't want these entities to have my data, and I definitely
    want to be secure against identity theft and other attacks. Some digital security / privacy steps:
</p>
<ul>
    <li>Making secure passwords, not re-using passwords, and using a password manager</li>
    <li>Using multi-factor authentication on important accounts</li>
    <li>Putting passwords or biometrics on your devices. Don't let anyone who has your devices log in.</li>
    <li>Using VPNs</li> 
    <li>Learning how to avoid scams, malware, fishing, and suspicious apps / websites</li>
    <li>Don't click random links, files, or email attachments. Don't plug in random flash drives.</li>
    <li>Not sharing private information, incl. birthdate, full name, location, or family info</li>
    <li>Encrypting your data and devices</li>
    <li>Go though app permissions on your phone, laptop, Google account, etc. (Does every app need to know your location?)</li>
    <li>
        Move from insecure apps or apps that give your data to advertisers, trackers, governments, and law enforcement,
        to more secure, encrypted, open-source apps that don't sell your data.
        <ul>
            <li>For privacy/security, you want apps that are FOSS (Free Open-Source Software) and "privacy focused" / "privacy first"</li>
            <li>F-Droid and Droidify are useful to download many FOSS apps</li>
            <li>Browsers are very insecure, not private, and easy to switch. Try Brave, Duck Duck Go, LibreWolf, and Firefox Focus- Tor if you want maximum security</li>
            <li>The search engine your browser uses by default can (should) also be changed- Brave Search and Duck Duck Go Search are both good, there are many others</li>
            <li>Proton can replace Google mail, drive, calendar, while giving you a password manager and VPN</li>
            <li>Signal / SimpleX can replace messaging</li>
            <li>YouTube frontends (Tubular, Grayjay, FreeTube, LibreTube) can replace YouTube and give a much better user experience. I'm using Tubular</li>
            <li>Organic Maps or OsmAnd can replace Google Maps</li>
            <li>Aurora Store can replace Google Play Store</li>
            <li>Did you know your phone keyboard probably sends your keystrokes to Google or Apple? FUTO keyboard is the FOSS alternative.</li>
            <li>LibreOffice can replace your office suite (Microsoft Word / Excel / etc.)</li>
            <li>I believe GPTMobile is FOSS AI chat access, I need to look more into that though</li>
            <li>Fossify can replace many default phone apps, and Canta can uninstall Android apps, if you really want to get into replacing everything</li>
        </ul>
    </li>
    <li>Data broker removal services (like Incogni)</li>
    <li>Email aliases for different services</li>
    <li>Be careful about devices in your home with microphones or cameras. Alexa is always listening.</li>
    <li>Malware detection and removal software, anti-viruses</li>
    <li>Backup important data regularly</li>
    <li>Keep software up-to-date to ensure latest security updates</li>
    <li>Disconnect smart devices when possible (even things you don't normally think about, like printers)</li>
    <li>Update your Wi-Fi password from the default on the router</li>
    <li>Enable number lock with your phone service provider to prevent attackers switching your phone number to a new device</li>
    <li>Remove your personal info from Google manually</li>
    <li>Place a security freeze on your credit</li>
    <li>Firewalls - I have to look more into this (<a href="https://www.youtube.com/watch?v=yKyjbeObQXg">Interesting video on firewalls</a>)</li>
    <li>Don't use websites that have HTTP instead of HTTPS. Your browser will pitch a fit if you try to access an HTTP page, heed its warning. </li>
    <li>Apps that can detect Bluetooth trackers like AirGuard</li>
    <li>Separating out user profiles on your phone / computer, or sandboxing apps. GrapheneOS does this (see below), I think some versions of Android allow user profiles but my phone doesn't :(</li>
    <li>Freeze your SIM with your provider to prevent hackers from swapping it (SIM Swap Scam Protection, or Number Lock)</li>
    <li><a href="https://www.ssa.gov/myaccount/security.html">Create an account with social security</a> so that nobody else can.</li>
    <li><a href="https://www.irs.gov/identity-theft-fraud-scams/get-an-identity-protection-pin">Get your IRS identity pin</a> so no one else can file a tax return in your name.</li>
    <li>
        Place credit freezes at the 5 major agencies. This also legally compels them to stop selling your data to the brokers.
        <a href="https://www.experian.com/freeze/center.html">Experian</a>, 
        <a href="https://www.transunion.com/credit-freeze">TransUnion</a>, 
        <a href="https://www.equifax.com/personal/help/article-list/-/h/a/place-lift-remove-security-freeze">Equifax</a>,
        <a href="https://www.chexsystems.com/security-freeze/place-freeze">Chex Systems</a>,
        <a href="https://www.innovis.com/securityFreeze/index">Innovis</a>
    </li>
    <li>Turn off WiFi and Bluetooth when not in use; turn on airplane mode when possible. This helps prevent location tracking</li>
    <li>Using multiple VoIP numbers instead of your cell (SIM) number</li>
    <li>
        (Advanced) Not using a SIM card, or using a SIM card in an external device. This
        allows you to better control what information is sent to cell providers. A faraday bag
        can further limit what data the SIM card transmits.
        (<a href="https://www.youtube.com/watch?v=RyirQOCUUK8">YouTube - No SIM? No problem!</a>)
    </li>
    <li>
        (Advanced) Switching operating systems - Computers can use Linux distros like Tails,
        for phones you can use a Google Pixel with GrapheneOS installed. CalyxOS, /e/OS, and
        VoltageOS might be good but I haven't investigated.
    </li>
    <li>(Advanced) Use Tor instead of normal web browsers</li>
</ul>
<p>Sources I used / Further reading:</p>
<ul>
    <li><a href="https://ssd.eff.org">Electronic Frontier Foundation - Surveillance Self-Defense</a></li>
    <li><a href="https://www.privacyguides.org/en/tools/">Privacy Guides Tool List</a></li>
    <li><a href="https://www.reddit.com/r/degoogle/comments/1jat0va/privacy_cybersecurity_tips_for_beginners/">
        Reddit - Privacy & Cybersecurity tips for beginners
    </a></li>
    <li><a href="https://www.reddit.com/r/privacy/comments/1i42wwr/what_else_can_i_do_to_enhance_my_security_and/">
        Another interesting Reddit thread</a></li>
    <li><a href="https://www.optoutproject.net/the-cyber-cleanse-take-back-your-digital-footprint/">
        The Cyber-Cleanse [I haven't gone through this one yet]
    </a></li>
    <li><a href="https://thenewoil.org/en/">The New Oil [I haven't gone through this one yet]</a></li>
    <li><a href="https://www.cryptoparty.in/learn/tools">Crypto Party - Tools</a></li>
    <li><a href="https://www.privacytools.io">Privacy Tools</a></li>
    <li><a href="https://www.techlore.tech/spa">Really cool quiz</a> and <a href="https://www.techlore.tech/resources">Resources</a></li>
    <li><a href="https://nationalprivacytest.org/test">Another cool quiz</a></li>
    <li><a href="https://privacy4cars.com">Cars are a privacy nightmare on wheels</a>, apparently</li>
    <li><a href="https://inteltechniques.com/workbook.html">IntelTechniques Data Removal Guide</a></li>
    <li><a href="https://support.google.com/websearch/answer/12719076?hl=en">Google article on how to remove your information</a></li>
    <li><a href="https://rejectconvenience.com/forum/viewtopic.php?t=55">Tool to read privacy policies</a></li>
    <li>
        Ultimate guide to an open-source life:
        <a href="https://wiki.futo.org/">Full article</a>, 
        <a href="https://www.youtube.com/watch?v=Gj6HqWCdk3s">YouTube - Introduction</a>, 
        <a href="https://www.youtube.com/watch?v=Et5PPMYuOc8">YouTube - Part 1</a>,
        <a href="https://www.youtube.com/watch?v=3fW9TV1WQi8">YouTube - Part 2</a>
    </li>
</ul>
<p>
    There is also a need for physical security and privacy. I have not thought about this much.
</p>

<!-- #endregion -->

<hr />

<!-- #region Data organization -->
<h2>Data Organization / Digital Environment</h2>
<p>
    Just like your physical space, organizing your digital space can clear up mental clutter and help you
    get tasks done more effectively. You can also set up your digital environment to encourage helpful
    behaviors and habits.
</p>
<ul>
    <li>
        Organize your documents well. For instance, using the PARA method you would sort your files into
        a Project folder with individual project sub-folders, Areas of improvement or responsibility, Resources
        you are using, and Archived stuff you probably won't need to see any time soon. There are a lot of good
        online resources going more in-depth on this method.
    </li>
    <li>Keeping files synced so you can access them where you need them</li>
    <li>Going through and deleting / sorting old files, photos, etc.</li>
    <li>
        If you're like me, you have several notebooks, random notes in half a dozen places, lists, etc.
        You probably want to digitize and organize those.
    </li>
    <li>Setup your apps, widgets, and home screens</li>
    <li>Notifications - Who are you allowing to distract you?</li>
    <li>
        Setup device settings like mouse sensitivity, hot corners for Mac, keyboard shortcuts, toolbars,
        and other various settings to make digital environments more comfortable and productive
    </li>
    <li>
        If you are using VSCode, look into extensions. On many browsers you will want to add plugins.
        Many other softwares will have ways to extend or customize their functionality.
    </li>
    <li>
        Your digital environment can be configured to avoid a lot of advertisements, spam, and other clutter.
        It is worth the effort. Check out FOSS software, ad blockers (maybe Brave browser), and notification settings.
    </li>
    <li>
        Having different devices for different purposes can help a lot with organization. When I used to have everything
        on my phone, I would often pull out my phone and completely forget why I did, and often get distracted with
        other stuff. By having separate devices for media consumption and deciding to only use certain devices for certain
        tasks (e.g. only use social media on the computer), it makes it much easier to focus and be intentional.
    </li>
</ul>
<!-- #endregion -->

<hr />

<!-- #region Media consumption -->
<h2>Media Consumption and Entertainment</h2>
<p>
    Media consumption is something that can and should be regulated, in much the same way that you would regulate your
    dietary consumption. I believe consumption is deeply tied with mental health. I've found that a lot of the stress
    in my life actually comes from over-consumption and mental over-stimulation. In one day, we might consume more
    media than the average person would consume in an entire month a few hundred years ago. This section addresses
    making sure our media and entertainment are actually helping us and not hurting.
</p>
<ul>
    <li>
        The most important thing is mindfulness and intentionality. Pay attention to how you spend your time,
        and how beneficial that use of technology actually is.
    </li>
    <li>Are you consuming media as a coping mechanism for unwanted feelings, like stress or boredom?</li>
    <li>
        How much time are you spending on social media, YouTube, Tik Tok, video games, etc.?
        What is the opportunity cost of that spent time?
    </li>
    <li>
        Keeping your phone on you significantly decreases your IQ, makes you less present, and disrupts sleep.
        Put it far away when you are sleeping, want to be productive, or want to be more in the moment.
    </li>
    <li>
        Something that helped with my YouTube addiction was disabling YouTube recommendations. On my Google account
        settings I turned off YouTube history and wiped my pre-existing history. Now when I log into YouTube it just
        shows me a blank page, so it's much harder for me to get sucked into the algorithms. I have to search or use
        my Subscriptions page. (I eventually stopped using YouTube altogether- see next point)
    </li>
    <li>
        On a similar note, if you use YouTube a lot, you might want to check out alternate YT frontends, like Tubular.
        They can allow you to play videos and move to different apps / turn your screen off, only show stuff you're
        subscribed to, block ads, automatically skip sponsor segments, download videos, create folders for your
        subscriptions, and may have other features. It really helps me to be more mindful and intentional with it.
        I'm currently in the process of migrating to Tubular and setting that environment up.
    </li>
    <li>
        There are probably alternative frontends for a lot of apps besides YouTube, I just haven't spent that much
        time looking into it. If you use other apps a lot then it's worth looking into.
    </li>
    <li>
        Quality of media consumed is important. I think the three media "macronutrients" are knowledge,
        entertainment, and artistic appreciation. Try to set up your media to give you these in high-quality.
    </li>
    <li>
        Avoid content that is reactionary, advertisements, hateful, low-quality slop, AI-generated, misinformation,
        or otherwise bad content.
    </li>
    <li>
        Instead of letting algorithms curate your media, curate your own media. One tool for this is RSS feeds.
        If you get an RSS reader, you can subscribe to specific comics, blogs, news sites, even YouTube channels
        in a unified and user-friendly way, without algorithmic curation. It takes more effort but is worth it.
    </li>
    <li>
        The indie web is pretty cool. Instead of putting their work on a big corporate-owned site, some creators
        are hosting their stuff themselves. This website is part of the indie web. No ads, trackers, censorship,
        or comporomising your art to get more clicks. We create what we want, how we want it. You can get started
        surfing the indie web at <a href="">marginalia</a> by searching for a topic you're interested in or going
        to the random tab. You can get started making your own website with <a href="">Neocities</a> or a similar
        service. (Don't be intimidated by creating a website, it's not that hard, anyone can do it!)
    </li>
    <li>
        Limiting media consumtion to specific times, e.g. limiting social media to 6pm-7pm every day.
        Basically intermittent fasting applied to entertainment.
    </li>
    <li>
        Limiting consumption to specific formats. Long-form videos is usually better than short-form,
        books are usually better than videos. Basically dietary restriction applied to entertainment.
    </li>
    <li>
        Using separate devices for media consumption is pretty cool. I have a Kindle e-reader (I plan to switch
        to Kobo or another brand soon), an MP3 player, and a Nintendo 3ds, this helps with being more intentional
        about media consumption and curating a collection of high-quality media I can return to.
    </li>
    <li>Using art and media creation as an outlet for consumption</li>
    <li>
        Curation is a type of creation. Start collecting things you like, either just stored for personal use,
        or list them on a blog or something (e.g. <a [href]="routes.ListAlbums">my Albums list</a>).
        Helps with intentionality, remembering things you like, and turning consumption into creation.
    </li>
    <li>Media consumption can be stacked with social connection. Movie / game night!</li>
</ul>
<!-- #endregion -->

<hr />

<!-- #region Projects -->
<h2>Projects, Creation, and Art</h2>
<p>
    This is about what you create and how you express yourself. Each project can be thought of as its own system,
    especially larger-scale creations that require several parts to come together. Or an entire category of creations
    can be thought of as a system. So the creation system has several subsystems, each subsystem (project or category)
    having connected goals, inputs, outputs, resources, and time commitments. It may be a good idea to consider what
    all projects you are working on, what your goals are for them, and what you want to commit to them (how many hours
    per week, for instance). I categorize it as one "main project", several "side projects", and several "creative
    areas" like playing the keyboard or drawing. I have a weekly minimum hour allocation for side projects and creative
    stuff, and 4 hours minimum on my main project. For side projects and creative areas, I allow myself to work on
    whatever I feel like. Sometimes I may have another main project, which receives its own time allocation, but I try
    to minimize this when possible. You don't have to use this system, but it is definitely a good idea to be 
    intentional about spending time on your projects and reaching project goals.
</p>
<!-- #endregion -->

<hr />

<!-- #region Career / School -->
<h2>Career / School</h2>
<p>
    This is also closely tied to finances, meaning / purpose, and personal skills / growth.
    I don't have much to say here because it's highly dependent on your specific circumstance.
    You probably know much better than I do what you need to succeed in work and school.
</p>
<!-- #endregion -->

<hr />

<!-- #region Personal skills -->
<h2>Personal skills and Growth</h2>
<p>
    Ideally, you are continuously leveling up your skills and learning new stuff. Skill stacking is having multiple skills
    that compliment each other, allowing you to be more effective than someone who specializes in one thing. There are several
    skills that improve many areas of your life simultaneously.
    Here's a list of some useful skills:
</p>
<ul>
    <li>Learning how to learn</li>
    <li>Social / Communication skills</li>
    <li>Computer programming</li>
    <li>Etiquette / Manners</li>
    <li>Critical thinking, Researching</li>
    <li>Emotional regulation skills</li>
    <li>Cooking</li>
    <li>Cleaning</li>
    <li>Gardening</li>
    <li>The ability to focus</li>
    <li>Negotiation</li>
    <li>Professional skills in your field</li>
    <li>Car and house maintenance</li>
</ul>
<!-- #endregion -->

<hr />

<!-- #region Safety, Emergencies -->
<h2>Safety / Emergencies</h2>

<p>Ensure continued health:</p>
<ul>    
    <li>Get vaccines</li>
    <li>Limit alcohol, smoking, and drug use</li>
    <li>Wear sunscreen</li>
    <li>Regular medical testing (like blood work or disease screening)</li>
</ul>

<p>Don't die:</p>
<ul>
    <li>Wear your seatbelt and helmet</li>
    <li>Keep a fire extinguisher in your house and car</li>
</ul>

<p>In case you didn't listen to the above section:</p>
<ul>
    <li>Get insurance, including life insurance</li>
    <li>Get a will</li>
</ul>

<p>Respond to emergencies:</p>
<ul>
    <li>Emergency fund - Save $5,000 / $10,000 / 6 months of expenses / Whatever you think is best (earn interest on this)</li>
    <li>Get dash cams and security cams (Make sure it's private and won't send your data to the company, law enforcement, etc.)</li>
    <li>Keep first aid kits around (and know how to use them)</li>
    <li>Take courses on CPR, first aid, etc.</li>
</ul>
<!-- #endregion -->

<hr />

<!-- #region Hygiene and Appearance -->
<h2>Hygiene and Appearance</h2>
<p>
    How do you present yourself to the outside world? This includes: 
</p>
<ul>
    <li>Fashion</li>
    <li>Hair style</li>
    <li>Skin care</li>
    <li>Posture</li>
    <li>Wear sunscreen!</li>
    <li>Hygiene</li>
    <li>Scents</li>
</ul>
<!-- #endregion -->

<hr />

<!-- #region Dependents -->
<h2>Dependents</h2>
<p>
    If you have any dependents, such as children, pets, or anyone else you take care of, then you should
    work to ensure they have a good life. It might be beneficial to go through the entire list again with
    them in mind to see how you could improve their life.
</p>
<!-- #endregion -->
