<h1 class="mt-h mb-0">Bio-Dome</h1>
<p>
    This is basically my <a href="https://maggieappleton.com/garden-history">digital garden</a>
    of my ideas and whatnot. This garden is still relatively new in 2025. I've been mostly
    thinking about how I can organize my life better, and about Christianity and religious
    ideas.
</p>
<p>I'm working on making this prettier and easier to use. Bear with me as I construct this system...</p>
<!-- <p>Sort by: [radio select]</p>
<p>Search content: [searchbar] [checkbox] Search article contents</p>
<p>Filters: ...</p> -->

@if (articleStatus() === 'loading') {
  <p>Loading articles...</p>
}
@if (articleStatus() === 'error') {
  <p>An error occurred while loading articles. Refresh the page to try again.</p>
}

<div class="flex-col gap-h">
  @for (article of articles(); track i; let i = $index) {
    <app-article-summary-bar [article]="article" [canEdit]="canEdit" />
  }
</div>
