<h1 class="article-title">Games</h1>

<h2>Card Games</h2>

<hr />

<h3>Absurd 8's Variant Deck</h3>
<p>
    I designed a deck of playing cards, based on crazy 8's, where each card also has a unique Uno-like rule.
    It's an interesting concept. I haven't constructed and tested the latest version yet.
    You will have to make your own deck for this- I'd recommend getting blank poker cards and sharpies.
    It can get pretty complex / technical, so if you don't like that, skip this one.
</p>
<a href="card-game-files/Absurd 8's - Version 3.0 - Rules.pdf">Rules PDF (v3.0)</a><br />
<a href="card-game-files/Absurd 8's - Version 3.0 - Rules.rtf">Rules RTF (v3.0)</a><br />
<a href="card-game-files/Absurd 8's - Version 3.0 - Thoughts and Future Rules.pdf">Thoughts and Future Rules PDF</a><br />
<a href="card-game-files/Absurd 8's - Version 3.0 - Thoughts and Future Rules.rtf">Thoughts and Future Rules RTF</a><br />

<hr />

<h3>Super Rummy Variant Deck</h3>
<p>
    I designed a deck of playing cards, based on Rummy. Many (but not all) cards have printed rules on them.
    It is basically like Rummy DLC. It's more strategic than Absurd 8's and pretty fun.
    I do have a print-and-play available- it printed the front and back sides together, but the back is blank,
    so you probably just want to print the odd pages (I don't feel like removing the blank pages).
    I also have the json export from <a href="https://oatear.github.io/cider/">cider</a> if you want to edit it.
</p>
<a href="card-game-files/Super Rummy Rules.pdf">Rules PDF</a><br />
<a href="card-game-files/Super Rummy Rules.rtf">Rules RTF</a><br />
<a href="card-game-files/cider.json">Cider JSON</a><br />
<a href="card-game-files/super-rummy-cards.pdf">Cards PDF</a><br />

<hr />

<h3>Mao</h3>
<p>I'm working on a Mao deck but it's not in a shareable state yet. I'm putting this here to remind future-me to finish this :)</p>

<hr />

<h2>Board Games</h2>

<hr />

<h3>Stratego with Bluffing</h3>
<p>I made rules to add a bluffing mechanic into Stratego.</p>
<a href="board-game-files/Stratego Bluffing.pdf">Rules PDF</a><br />
<a href="board-game-files/Stratego Bluffing.rtf">Rules RTF</a><br />

<hr />

<h3>Dropleap</h3>
<p>This is that one game I made with Andrew. TODO Add rules and description.</p>

<hr />

<h2>Chess Variants</h2>

<hr />

<h3>Fire Shogi</h3>
<p>TODO Add rules and description</p>

<hr />

<h3>Indian Complete Chess</h3>
<p>TODO Add rules and description</p>

<hr />

<h3>Aren't there like a bunch of others I have hidden away somewhere?</h3>
<p>For the life of me I can't find my old game rule archives.</p>